* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optionally add a background color for the body */
}

.progress {
    width:60px;
    height:60px;
    border-radius: 50%;
    -webkit-mask:linear-gradient(0deg,#000 55%,#0000 0) bottom/100% 18.18%;
    background:
     linear-gradient(#f03355 0 0) bottom/100% 0% no-repeat
     #ddd;
    animation:animate 2s infinite steps(7);
  }
  @keyframes animate {
      100% {background-size:100% 115%}
  }